* {
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
font-family: calibri;
}
.strike span {
text-decoration: line-through;
color: #ccc;
}
.readingItems {
padding: 20px;
}
.readingItem {
padding: 10px;
font-size: 21px;
border-bottom: 1px solid;
}
.readingItem .btn {
margin-left: 5px;
width: 72px;
}
.readingItem:hover {
background: #e7e7e7;
}
@media (max-width: 991px) {
.readingItem .btn {
margin-bottom: 10px;
}
.readingItem input[type=checkbox] {
width: 25px;
height: 25px;
}
}
@media (max-width: 991px) {
.readingItem .btn-warning {
margin-top: 10px;
margin-left: 0px
}
}
@media (max-width: 450px) {
.readingItem .col-xs-8 {
width: 85%;
}
.readingItem .col-xs-3 {
width: 100%;
text-align: center;
border-top: 1px dashed #aaa;
padding-top: 10px;
margin-top: 10px;
}
}